<form enctype="multipart/form-data">
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h6 class="mb-0 mr-4 mt-2">Add Products</h6>
        </div>
        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Product name</h6>
        </label> 
        
        <input 
        [(ngModel)] = "productData.name" 
        class="mb-4" type="text" 
        name="name" 
        placeholder="Enter product name"> </div>

        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Amount</h6>
        </label> 
        
        <input 
        [(ngModel)] = "productData.price" 
        class="mb-4" type="text" 
        name="price" 
        placeholder="Enter amount"> </div>

        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Amount</h6>
        </label> 
        
        <input 
        [(ngModel)] = "productData.quantity" 
        class="mb-4" type="text" 
        name="quantity" 
        placeholder="Enter quantity"> </div>

        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Description</h6>
        </label> 
        
        <input 
        [(ngModel)] = "productData.description" 
        class="mb-4" type="text" 
        name="description" 
        placeholder="Enter Description"> </div>

        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Product Image</h6>
        </label> 
        
        <input 
         
        class="mb-4" type="file" 
        name="file_thumbnail_image"  (change)="fileEvent($event)" > </div>
        

        <div class="row px-3 mb-4">

            
        </div>
        <div class="row mb-3 px-3"> <button type="submit" (click)="productAdd()" class="btn btn-blue text-center">Add Product</button> </div>
    </div>
</form>