<form>
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h6 class="mb-0 mr-4 mt-2">Sign in</h6>
        </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Email Address</h6>
            </label> 
            <input 
            class="mb-4" 
            type="text" 
            [(ngModel)] = "loginUserData.email"
            name="email"
            placeholder="Enter a valid email address"> </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Password</h6>
            </label>
            <input 
            type="password" 
            [(ngModel)] = "loginUserData.password"
            name="password"
            placeholder="Enter password"
            > </div>
        <div class="row px-3 mb-4">
            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
        </div>
        <div class="row mb-3 px-3"> <button type="submit" (click)="loginUser()" class="btn btn-blue text-center">Login</button> </div>
    </div>
</form>