<form enctype="multipart/form-data">
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h6 class="mb-0 mr-4 mt-2">Contact Us</h6>
        </div>
        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Name</h6>
        </label> 
        
        <input 
        [(ngModel)] = "contactData.name" 
        class="mb-4" type="text" 
        name="name" 
        placeholder="Enter name"> </div>

        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Email</h6>
        </label> 
        
        <input 
        [(ngModel)] = "contactData.email" 
        class="mb-4" type="email" 
        name="email" 
        placeholder="Enter amount"> </div>

        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Subject</h6>
        </label> 
        
        <input 
        [(ngModel)] = "contactData.subject" 
        class="mb-4" type="text" 
        name="subject" 
        placeholder="Enter subject"> </div>

        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Phone Number</h6>
        </label> 
        
        <input 
        [(ngModel)] = "contactData.phone_number" 
        class="mb-4" type="text" 
        name="phone_number" 
        placeholder="Enter Phone Number"> </div>

        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Message</h6>
        </label> 
        
        <input 
        [(ngModel)] = "contactData.message" 
        class="mb-4" type="text" 
        name="message" 
        placeholder="Enter message"> </div>


        

        <div class="row px-3 mb-4">

            
        </div>
        <div class="row mb-3 px-3"> <button type="submit" (click)="contactAdd()" class="btn btn-blue text-center">Submit</button> </div>
    </div>
</form>