
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div  *ngIf="_authService.loggedIn()" class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"> </div>
      <div class="sidebar-heading"> </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/product-add" routerLinkActive="active">Product</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/company" routerLinkActive="active">Company</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
        <!-- <button class="btn btn-primary" id="menu-toggle">CodeMax</button> -->
        <div class="sidebar-heading" style="color: white;">CodeMax</div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/product" routerLinkActive="active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/product-add" routerLinkActive="active" href="#">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/company" routerLinkActive="active" href="#">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active" href="#">Contact</a>
                </li>    
                    
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active" href="#">Login</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active" href="#">Register</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"  style="cursor: pointer;">Logout</a>
                </li> 
              </ul>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="container">
            <router-outlet></router-outlet>
          </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>