
<br/>
<br/>
<app-cart [CartUpdateValue] = "cartAmt"></app-cart>
<br/>
<br/>
<div class="row">

    <div *ngFor="let product of productData" class="col-md-3">
        <figure class="card card-product">
            <div class="img-wrap">


                <!-- <img ng-if="product.product_image" src="https://via.placeholder.com/300/09f/fff.png"> -->
                <img *ngIf="!product.product_image?.length" src="https://via.placeholder.com/300/09f/fff.png">
                <img *ngIf="product.product_image?.length" src="http://localhost/jwt/public/prduct_image/{{product.product_image}}">
            
            </div>
            <figcaption class="info-wrap">
                    <h4 class="title">{{product.name}}</h4>
                    <p class="desc">{{product.description}}</p>
                    <div class="rating-wrap">
                        <!-- <div class="label-rating">{{product.quantity}} remaining</div> -->
                    </div>
            </figcaption>
            <div class="bottom-wrap">
                <button class="btn btn-sm btn-primary float-right" 
                (click)="calculateCart(product.price)">Add to Cart</button>	
                <div class="price-wrap h5">
                    <span class="price-new">₹{{product.price}}</span>
                </div>
            </div>
        </figure>
    </div>
</div>