<form>
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h6 class="mb-0 mr-4 mt-2">Registration</h6>
        </div>
        <div class="row px-3"> <label class="mb-1">
            <h6 class="mb-0 text-sm">Name</h6>
        </label> 
        
        <input 
        [(ngModel)] = "registerUserData.name" 
        class="mb-4" type="text" 
        name="name" 
        placeholder="Enter your name"> </div>
        
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Email Address</h6>
            </label>

            <input 
            class="mb-4" 
            type="email" 
            [(ngModel)] = "registerUserData.email"
            name="email" 
            placeholder="Enter a valid email address"> </div>

        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Password</h6>
            </label> 
            
            <input 
            type="password" 
            [(ngModel)] = "registerUserData.password"
            name="password" 
            placeholder="Enter password"> </div>

        <div class="row px-3 mb-4">

            
        </div>
        <div class="row mb-3 px-3"> <button type="submit" (click)="registerUser()" class="btn btn-blue text-center">Register</button> </div>
    </div>
</form>